# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [20]:
cities_df=pd.read_csv("cities.csv")
cities_df.head()

,Unnamed: 0,City,Date,Country,Latitude,Longitude,Max Temperature,Humidity,Clouds,Wind
0,0,butaritari,1626824170,KI,3.0707,172.7902,82.63,74,69,8.05
1,1,longyearbyen,1626823901,SJ,78.2186,15.6401,39.04,81,75,3.44
2,2,rikitea,1626824171,PF,-23.1203,-134.9692,71.87,61,98,22.95
3,3,georgetown,1626824161,MY,5.4112,100.3354,79.90,87,20,1.99
4,4,kapaa,1626824171,US,22.0752,-159.3190,84.18,75,75,5.01

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [26]:
# Configure Gmaps
gmaps.configure(api_key=g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
Locations=cities_df[["Latitude","Longitude"]]
# Add Heatmap layer to map (displaying humidity in this case).
Heatmap=cities_df["Humidity"]
# Plotting heatmap
fig=gmaps.figure(center=(50,-2),zoom_level=1)
# Visualizing heat layer on top
Heat_zone=gmaps.heatmap_layer(Locations,weights=Heatmap,dissipating=False,max_intensity=np.max(Heatmap),point_radius=5,opacity=1)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
# Narrow down the cities to fit weather conditions while dropping rows with null values
hotel_df=cities_df.loc[(cities_df["Max Temperature"] <=80) & (cities_df["Max Temperature"] >=70) & (cities_df["Wind"] <=10) & (cities_df["Clouds"] ==0)].dropna()
hotel_df

,Unnamed: 0,City,Date,Country,Latitude,Longitude,Max Temperature,Humidity,Clouds,Wind
50,50,shieli,1626824186,KZ,44.1667,66.7500,75.51,37,0,8.59
96,96,aryanah,1626824201,TN,36.8601,10.1934,73.29,83,0,1.14
116,116,olinda,1626824093,BR,-8.0089,-34.8553,73.13,78,0,8.05
190,190,maceio,1626824070,BR,-9.6658,-35.7353,72.84,88,0,1.14
202,202,kropotkin,1626824238,RU,45.4375,40.5756,76.10,49,0,4.72
255,255,severnyy,1626824255,RU,50.6770,36.5532,73.44,68,0,4.47
278,278,kinkala,1626824263,CG,-4.3614,14.7644,70.11,61,0,7.67
305,305,marsala,1626824273,IT,37.7966,12.4352,75.94,88,0,4.61
342,342,tiznit,1626824286,MA,29.5833,-9.5000,72.48,57,0,2.15
374,374,qumaym,1626824298,JO,32.5713,35.7327,72.39,81,0,7.99
486,486,manduria,1626824336,IT,40.4018,17.6335,77.02,77,0,8.37
520,520,mao,1626824348,ES,39.8885,4.2658,73.96,83,0,4.61

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"]=""
hotel_df

,Unnamed: 0,City,Date,Country,Latitude,Longitude,Max Temperature,Humidity,Clouds,Wind,Hotel Name
50,50,shieli,1626824186,KZ,44.1667,66.7500,75.51,37,0,8.59,
96,96,aryanah,1626824201,TN,36.8601,10.1934,73.29,83,0,1.14,
116,116,olinda,1626824093,BR,-8.0089,-34.8553,73.13,78,0,8.05,
190,190,maceio,1626824070,BR,-9.6658,-35.7353,72.84,88,0,1.14,
202,202,kropotkin,1626824238,RU,45.4375,40.5756,76.10,49,0,4.72,
255,255,severnyy,1626824255,RU,50.6770,36.5532,73.44,68,0,4.47,
278,278,kinkala,1626824263,CG,-4.3614,14.7644,70.11,61,0,7.67,
305,305,marsala,1626824273,IT,37.7966,12.4352,75.94,88,0,4.61,
342,342,tiznit,1626824286,MA,29.5833,-9.5000,72.48,57,0,2.15,
374,374,qumaym,1626824298,JO,32.5713,35.7327,72.39,81,0,7.99,
486,486,manduria,1626824336,IT,40.4018,17.6335,77.02,77,0,8.37,
520,520,mao,1626824348,ES,39.8885,4.2658,73.96,83,0,4.61,

In [31]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure